.sidebar-admin {
  width: 80px; /* Giảm kích thước sidebar */
  height: 100vh;
  background-color: #977364;
  color: white;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

nav ul li {
  margin: 15px 0;
  display: flex;
  justify-content: center;
  cursor: pointer;
  width: 80px;
  height: 60px;
  align-items: center;
  transition: all 0.3s ease;
}

nav ul li i {
  font-size: 30px;
  color: white;
}

nav ul li.active {
  background-color: #5a4d47; 
}

nav ul li.active i {
  color: white; 
}

nav ul li:hover {
  background-color: #c7b4ab; 
}

.logout {
  margin-top: auto;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.logout:hover {
  background-color: #c8a28d;
}

.logout i {
  font-size: 30px;
  color: white;
}
