.header-admin {
  background-color: rgb(255, 255, 255, 0.5);
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  position: relative;
}

.left-section {
  display: flex;
  align-items: center;
}

.center-section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.logo {
  width: 70px;
  height: 70px;
  margin-right: 10px;
}

.brand {
  font-size: 30px; 
  font-weight: bold; 
  letter-spacing: 2px; 
  background: linear-gradient(45deg, #513a31, #977364, #97736484, #513a31);
  background-size: 300%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientAnimation 5s infinite linear;
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}

.toggle-button {
  font-size: 30px;
  font-weight: normal;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: #977364;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-details {
  margin-left: 15px;
  margin-right: 15px;
  text-align: right;
}

.user-info p {
  margin: 0;
  color: black;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}